<div class="row">
	<div class="large-12 columns">
		<h1>Jemison Metals</h1>
		<p>Find me in app/views/static_pages/index.html.erb</p>
		<hr>
	</div><!-- large-12 columns -->
</div><!-- row -->
<div class="row">
	<div class="large-8 columns">
		<h3>We believe the best relationships are built on finding real, measurable savings</h3>
	</div><!-- large-8 columns -->
	<div class="large-4 columns">
		<p>At Jemison Metals, quality is a specific set of fundamentals that make up the Four Cornerstones of our business.</p>
	</div><!-- large-4 columns -->
</div><!-- row -->
